USE [master]
GO
/****** Object:  Database [demkapr30]    Script Date: 01.04.2023 12:00:55 ******/
CREATE DATABASE [demkapr30]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'demkapr30', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\demkapr30.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'demkapr30_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\demkapr30_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [demkapr30].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [demkapr30]
GO
/****** Object:  Table [dbo].[Заказы]    Script Date: 01.04.2023 12:00:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Заказы](
	[id_заказа] [bigint] NOT NULL,
	[Состав] [nvarchar](max) NOT NULL,
	[Дата_заказа] [date] NOT NULL,
	[Дата_доставки] [date] NOT NULL,
	[ФИО_клиента] [nvarchar](100) NULL,
	[Код_для_получения] [int] NOT NULL,
	[id_пункта_выдачи] [bigint] NOT NULL,
	[id_статус_заказа] [bigint] NOT NULL,
 CONSTRAINT [PK_Заказы] PRIMARY KEY CLUSTERED 
(
	[id_заказа] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Заявки]    Script Date: 01.04.2023 12:00:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Заявки](
	[id_заявки] [bigint] NOT NULL,
	[Приоритет] [nchar](10) NOT NULL,
	[Статус] [nchar](10) NOT NULL,
	[id_пользователя] [bigint] NOT NULL,
	[id_поставщика] [bigint] NOT NULL,
 CONSTRAINT [PK_Заявки] PRIMARY KEY CLUSTERED 
(
	[id_заявки] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Категории_продукции]    Script Date: 01.04.2023 12:00:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Категории_продукции](
	[id_категории_продукции] [bigint] NOT NULL,
	[Наименование_продукции] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Категории_продукции] PRIMARY KEY CLUSTERED 
(
	[id_категории_продукции] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Пользователи]    Script Date: 01.04.2023 12:00:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Пользователи](
	[id_пользователя] [bigint] NOT NULL,
	[ФИО] [nvarchar](100) NOT NULL,
	[Логин] [nvarchar](50) NOT NULL,
	[Пароль] [nvarchar](50) NOT NULL,
	[id_роли] [bigint] NOT NULL,
 CONSTRAINT [PK_Пользователи] PRIMARY KEY CLUSTERED 
(
	[id_пользователя] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Поставщик]    Script Date: 01.04.2023 12:00:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Поставщик](
	[id_поставщика] [bigint] NOT NULL,
	[Название_компании] [nvarchar](50) NULL,
	[юр_адрес] [nvarchar](50) NULL,
	[ИНН] [bigint] NULL,
	[КПП] [bigint] NULL,
	[ФИО_директора] [nvarchar](100) NULL,
	[Телефон] [bigint] NULL,
	[Почта] [nvarchar](50) NULL,
 CONSTRAINT [PK_Поставщик] PRIMARY KEY CLUSTERED 
(
	[id_поставщика] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Продукция]    Script Date: 01.04.2023 12:00:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Продукция](
	[id_продукции] [bigint] NOT NULL,
	[Артикул] [nchar](20) NULL,
	[Название] [nvarchar](50) NOT NULL,
	[Единица_измерения] [nchar](10) NOT NULL,
	[Размер_максимальной_скидки_в_процентах] [int] NOT NULL,
	[Производитель] [nvarchar](50) NOT NULL,
	[id_категории_продукции] [bigint] NOT NULL,
	[Действущая_скидка_в_процентах] [int] NOT NULL,
	[Количество_на_складе] [int] NOT NULL,
	[Минимальный_остаток] [int] NOT NULL,
	[Описание] [nvarchar](max) NULL,
	[Изображение] [image] NULL,
	[id_заявки] [bigint] NOT NULL,
 CONSTRAINT [PK_Продукция] PRIMARY KEY CLUSTERED 
(
	[id_продукции] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Пункт_выдачи]    Script Date: 01.04.2023 12:00:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Пункт_выдачи](
	[id_пункт_выдачи] [bigint] NOT NULL,
	[Индекс] [int] NOT NULL,
	[Адрес] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Пункт_выдачи] PRIMARY KEY CLUSTERED 
(
	[id_пункт_выдачи] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Роли]    Script Date: 01.04.2023 12:00:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Роли](
	[id_роли] [bigint] NOT NULL,
	[Доступ] [nvarchar](50) NOT NULL,
	[Название] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Роли] PRIMARY KEY CLUSTERED 
(
	[id_роли] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Состав_заказа]    Script Date: 01.04.2023 12:00:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Состав_заказа](
	[id_состав] [bigint] NOT NULL,
	[id_продукции] [bigint] NOT NULL,
	[id_заказа] [bigint] NOT NULL,
	[Количество] [int] NOT NULL,
 CONSTRAINT [PK_Состав_заказа] PRIMARY KEY CLUSTERED 
(
	[id_состав] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Статус_заказа]    Script Date: 01.04.2023 12:00:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Статус_заказа](
	[id_статус_заказа] [bigint] NOT NULL,
	[Статус] [nchar](10) NOT NULL,
 CONSTRAINT [PK_Статус_заказа] PRIMARY KEY CLUSTERED 
(
	[id_статус_заказа] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Пользователи] ([id_пользователя], [ФИО], [Логин], [Пароль], [id_роли]) VALUES (1, N'Агафонова Лариса Михаиловна', N'loginDEiry2018', N'5zu7+}', 3)
INSERT [dbo].[Пользователи] ([id_пользователя], [ФИО], [Логин], [Пароль], [id_роли]) VALUES (2, N'Александров Владимир Дамирович', N'loginDEuuo2018', N'42XmH1', 2)
INSERT [dbo].[Пользователи] ([id_пользователя], [ФИО], [Логин], [Пароль], [id_роли]) VALUES (3, N'Алексеев Владислав Аркадьевич', N'loginDEbct2018', N'Qg3gff', 2)
GO
INSERT [dbo].[Пункт_выдачи] ([id_пункт_выдачи], [Индекс], [Адрес]) VALUES (1, 344288, N' г. Ковров, ул. Чехова,1')
INSERT [dbo].[Пункт_выдачи] ([id_пункт_выдачи], [Индекс], [Адрес]) VALUES (2, 614164, N' г.Ковров,  ул. Степная,30')
INSERT [dbo].[Пункт_выдачи] ([id_пункт_выдачи], [Индекс], [Адрес]) VALUES (3, 394242, N' г. Ковров, ул. Коммунистическая,43')
GO
INSERT [dbo].[Роли] ([id_роли], [Доступ], [Название]) VALUES (1, N'Полный', N'Администратор')
INSERT [dbo].[Роли] ([id_роли], [Доступ], [Название]) VALUES (2, N'Не_полный', N'Клиент')
INSERT [dbo].[Роли] ([id_роли], [Доступ], [Название]) VALUES (3, N'Частичный', N'Менеджер')
GO
ALTER TABLE [dbo].[Заказы]  WITH CHECK ADD  CONSTRAINT [FK_Заказы_Пункт_выдачи] FOREIGN KEY([id_пункта_выдачи])
REFERENCES [dbo].[Пункт_выдачи] ([id_пункт_выдачи])
GO
ALTER TABLE [dbo].[Заказы] CHECK CONSTRAINT [FK_Заказы_Пункт_выдачи]
GO
ALTER TABLE [dbo].[Заказы]  WITH CHECK ADD  CONSTRAINT [FK_Заказы_Статус_заказа] FOREIGN KEY([id_статус_заказа])
REFERENCES [dbo].[Статус_заказа] ([id_статус_заказа])
GO
ALTER TABLE [dbo].[Заказы] CHECK CONSTRAINT [FK_Заказы_Статус_заказа]
GO
ALTER TABLE [dbo].[Заявки]  WITH CHECK ADD  CONSTRAINT [FK_Заявки_Пользователи] FOREIGN KEY([id_пользователя])
REFERENCES [dbo].[Пользователи] ([id_пользователя])
GO
ALTER TABLE [dbo].[Заявки] CHECK CONSTRAINT [FK_Заявки_Пользователи]
GO
ALTER TABLE [dbo].[Заявки]  WITH CHECK ADD  CONSTRAINT [FK_Заявки_Поставщик] FOREIGN KEY([id_пользователя])
REFERENCES [dbo].[Поставщик] ([id_поставщика])
GO
ALTER TABLE [dbo].[Заявки] CHECK CONSTRAINT [FK_Заявки_Поставщик]
GO
ALTER TABLE [dbo].[Пользователи]  WITH CHECK ADD  CONSTRAINT [FK_Пользователи_Роли] FOREIGN KEY([id_роли])
REFERENCES [dbo].[Роли] ([id_роли])
GO
ALTER TABLE [dbo].[Пользователи] CHECK CONSTRAINT [FK_Пользователи_Роли]
GO
ALTER TABLE [dbo].[Продукция]  WITH CHECK ADD  CONSTRAINT [FK_Продукция_Заявки] FOREIGN KEY([id_заявки])
REFERENCES [dbo].[Заявки] ([id_заявки])
GO
ALTER TABLE [dbo].[Продукция] CHECK CONSTRAINT [FK_Продукция_Заявки]
GO
ALTER TABLE [dbo].[Продукция]  WITH CHECK ADD  CONSTRAINT [FK_Продукция_Категории_продукции] FOREIGN KEY([id_категории_продукции])
REFERENCES [dbo].[Категории_продукции] ([id_категории_продукции])
GO
ALTER TABLE [dbo].[Продукция] CHECK CONSTRAINT [FK_Продукция_Категории_продукции]
GO
ALTER TABLE [dbo].[Состав_заказа]  WITH CHECK ADD  CONSTRAINT [FK_Состав_заказа_Заказы] FOREIGN KEY([id_заказа])
REFERENCES [dbo].[Заказы] ([id_заказа])
GO
ALTER TABLE [dbo].[Состав_заказа] CHECK CONSTRAINT [FK_Состав_заказа_Заказы]
GO
ALTER TABLE [dbo].[Состав_заказа]  WITH CHECK ADD  CONSTRAINT [FK_Состав_заказа_Продукция] FOREIGN KEY([id_продукции])
REFERENCES [dbo].[Продукция] ([id_продукции])
GO
ALTER TABLE [dbo].[Состав_заказа] CHECK CONSTRAINT [FK_Состав_заказа_Продукция]
GO
USE [master]
GO
